# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.env.local

# Python / Backend
backend/__pycache__/
backend/*.pyc
backend/skincare-env/
backend/.env
backend/.chalice/deployments/

# General
.DS_Store
