# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.env.local

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.env.local

# Python / Backend
**/__pycache__/
**/*.pyc
backend/skincare-env/
backend/.env
backend/.chalice/deployments/

# General
.DS_Store

# General
.DS_Store
